//design system

//colors
$blue-700:#15133C;
$blue-500:#3A3776;
$blue-400:#6C69B5;
$blue-200:#ABA8E3;
$blue-transparent:rgba(21, 19, 60, 0.25);

$silver-500:#73777B;
$silver-400:#9EA0A1;
$silver-300:#CFD2D6;
$silver-100:#F4F5F6;

$gold-500:#EC994B;
$gold-400:#F3B57B;
$gold-300:#D6AF8B;
$gold-200:#E4B589;
$gold-transparent:rgba(236, 153, 75, 0.82);

$white:#fff;
$link-color:#bdbdbd;
$link-hover:#282568;

//border
$border-grey:#e0d8f034;

//font size
$font-extra-small:10px;
$font-small:14px;
$font-medium:19px;
$font-large:24px;
$font-extra-large:29px;


