.dashboard-container {
    background: #f6f7f9;
    font-family: "Inter", sans-serif;
    .balance-section {
        @extend .custom-shadow;
        width: 100%;
        padding: 20px 0;
        min-height: 182px;
        background-color: #fef5e5;
        display: flex;
        justify-content: center;
        align-items: center;
        .balance-content {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            img {
                height: 65px;
            }
            .balance-text {
                span {
                    color: #f2ae1c;
                    display: block;
                    line-height: 1;

                    &.balance {
                        font-size: 32px;
                        font-weight: bold;
                    }
                    &.sub-text {
                        font-size: 16px;
                    }
                }
            }
        }
    }
  #historyTable {
    min-height: 300px;
    .loader-container {
        min-height: 200px;
    }
  }
}

.tile-btn {
    background-color: #fff;
    border-radius: 8px;
    color: #f2ae1c;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
    height: 140px;

    i {
        font-size: 25px;
    }

    // addstyle of custom-shadow
    @extend .button-shadow;
    img {
        height: 45px;
    }

    &:hover {
        transition: all 0.3s ease;
        transform: scale(1.03);
    }
}

.transaction-table {
    @extend .button-shadow;
    border-radius: 8px;
    background-color: #fff;
    position: relative;

    .table-body-container {
        min-height: 200px;
        max-height: 400px;
        overflow: hidden;
        overflow-y: auto;
        padding: 63px 20px 20px 20px;
        border-radius: 8px;
    }

    .header-table {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        padding: 20px;
        border-radius: 8px 8px 0 0;
        background-color: #fff;
        border-bottom: 1px solid #e5e5e5;
        .header-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2 {
                font-size: 14px !important;
                font-weight: 600;
                color: #545454;
            }
            .see-all-btn {
                color: #949393;
                font-weight: 400;
            }
        }
    }
    .table-row-container {
        border-bottom: 1px solid #e5e5e5;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        .details {
            width: 100%;
            display: flex;
            gap: 10px;
            align-items: center;

            .type {
                @extend .custom-shadow;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #f2ae1c;
                position: relative;
                i {
                    font-size: 16px;
                    color: #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .text {
                font-size: 14px;
                font-weight: 600;
            }
            .date {
                font-weight: 400;
                font-size: 10px;
                color: #636363 !important;
            }
        }
        .amount-row {
            span {
                font-size: $font-medium;
                font-weight: 700;
                color: #bebdbd !important;
            }
        }
    }
}

.dashboard-menus {
    @media (max-width: 767.98px) {
        width: 30% !important;
    }
}

@media (max-width: 575.98px) {
    .tile-btn {
        height: 90px !important;
        img {
            height: 30px;
        }
        .title {
            font-size: 11px;
        }
    }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .dashboard-container .dashboard-nav {
        padding: 5px;
    }

    .tile-btn {
        flex-direction: column;
        font-size: 10px;
        font-weight: 500;
        padding: 5px;
        height: 120px;
    }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .tile-btn {
        flex-direction: column;
        font-size: 11px;
        height: 120px;
    }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .tile-btn {
        font-size: 16px;
    }
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
}
