.custom-modal {
    display: none;
    position: absolute;
    width: 100%;
    top: 100vh;
    height: 0px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out, top 0.3s ease-out;

    .modal-head {
        padding: 10px 20px;
        @extend .custom-shadow;
        display: flex;
        justify-content: end;

        .close-modal{
            width: 35px;
            height: 35px;
            font-size: 15px;
            border-radius: 50%;
            position: relative;
            color: $silver-500;
            background-color: $white;
            @extend .button-shadow;

            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    &.show {
        opacity: 1;
        top: 0;
        visibility: visible;
        height: 100%;
        display: block;
    }
    .main-content {
        position: relative;
    }
}
