.dashboard-nav {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    border-radius: 5px;
    position: sticky;
    top: 0;
    left: 0;

    .notification {
        margin-left: 20px;
        color: $red-500;
        i {
            font-size: 20px;
        }
    }

    .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
        background-color: #aba8e3;
        color: #fff;
        position: relative;

        span {
            font-size: 12px;
            text-transform: uppercase;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
        }
    }

    #dashboardDropdown {
        position: relative;
        border: 1px solid $silver-300;
        border-radius: 8px;
        padding: 5px 10px;

        @media (max-width: 768px) {
            border: none;
            padding: 0;
        }
        .links {
            list-style: none;
            text-align: left;
            li {
                display: flex;
            }
        }

        .desktop-btn {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            min-width: 140px;
            position: relative;
            cursor: pointer;


            .user-name {
                font-size: 15px;
                color: #545454;
                width: 100px;
                text-align: left;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .caret {
                position: absolute;
                top: 8px;
                right: 0;
            }
        }

        .dropdown-container {
            display: none;
            position: absolute;
            top: 51px;
            right: 0;
            background-color: #fff;
            @extend .button-shadow;
            list-style: none;
            border-radius: 8px;
            min-width: 200px;
            z-index: 10;

            &.open {
                display: block;
            }

            .links {
                display: flex;
                flex-direction: column;
                justify-content: start;
                gap: 10px;
                align-items: center;
                li {
                    width: 100%;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    text-align: left;
                }
            }

            .details {
                span:first-child {
                    font-size: 15px;
                    color: #545454;
                    font-weight: 600;
                }
                span:last-child {
                    font-size: 10px;
                    color: #73777b;
                }
            }
            .log-out {
                color: $silver-400;
                font-size: $font-small;
                a {
                    color: $silver-500;
                    text-decoration: none;
                    padding-left: 10px
                }

            }
        }
    }

    .mobile-menu {
        @extend .button-shadow;
        font-size: 20px;
        color: #636363;
        border-radius: 4px;
        background-color: #ffffff;
        padding: 3px 10px;
    }
}
