//design system

//colors
$blue-700:#15133C;
$blue-500:#3A3776;
$blue-400:#6C69B5;
$blue-200:#ABA8E3;
$blue-transparent:rgba(21, 19, 60, 0.25);

$silver-500:#73777B;
$silver-400:#9EA0A1;
$silver-300:#CFD2D6;
$silver-100:#F4F5F6;

$border-color:#dee2e6;

$gold-500:#EC994B;
$gold-400:#F3B57B;
$gold-300:#D6AF8B;
$gold-200:#E4B589;
$gold-transparent:rgba(236, 153, 75, 0.82);
$gold-transparent-2:rgba(255, 219, 185, 0.82);

$red-500:#E74C3C;

$white:#fff;
$link-color:#bdbdbd;
$link-hover:#282568;

//border
$border-grey:#e0d8f034;

//font size
$font-extra-small:10px;
$font-small:13px;
$font-medium:16px;
$font-large:24px;
$font-extra-large:29px;

.custom-shadow {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.button-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}



